.container {
  width: 960px;
  margin: auto;
}

.card {
  display: inline-block;
  background-color: lightgrey;
  height: 320px;
  width: 300px;
  padding: 5px;
  margin: 5px;
  overflow: hidden;
}

.card-thumbnail {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.card-thumbnail img {
  min-height: 100%;
}

.card-content {
  position: relative;
  top: -340px;
  width: 100%;
}

.card--pinned {
  background-color: red;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 24px;
  height: 24px;
  margin: -12px 0 0 -12px;
}

.spinner i {
  position: absolute;
  top: 24px; left: 24px;
  display: block;
  width: 24px;
  height: 24px;
  background: #799ED2;
  border-radius: 24px;
  -webkit-animation: spin2 1.5s ease-in-out infinite;
}
.spinner i:first-child {
  top: -24px; left: 0;
  background: #194685;
  -webkit-animation: spin 1.5s ease-in-out infinite;
}
.spinner i:last-child {
  top: 24px; left: -24px;
  background: #C7202C;
  -webkit-animation: spin3 1.5s ease-in-out infinite;
}

@-webkit-keyframes spin {
  0% {
    top: -24px;
    left: 0;
    -webkit-transform: scale(1);
  }
  17% {
    -webkit-transform: scale(.5);
  }
  33% {
    top: 24px;
    left: 24px;
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(.5);
  }
  66% {
    top: 24px;
    left: -24px;
    -webkit-transform: scale(1);
  }
  83% {
    -webkit-transform: scale(.5);
  }
  100% {
    top: -24px;
    left: 0;
    -webkit-transform: scale(1);
  }
}
@-webkit-keyframes spin2 {
  0% {
    top: 24px;
    left: 24px;
    -webkit-transform: scale(1);
  }
  17% {
    -webkit-transform: scale(.5);
  }
  33% {
    top: 24px;
    left: -24px;
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(.5);
  }
  66% {
    top: -24px;
    left: 0;
    -webkit-transform: scale(1);
  }
  83% {
    -webkit-transform: scale(.5);
  }
  100% {
    top: 24px;
    left: 24px;
    -webkit-transform: scale(1);
  }
}
@-webkit-keyframes spin3 {
  0% {
    top: 24px;
    left: -24px;
    -webkit-transform: scale(1);
  }
  17% {
    -webkit-transform: scale(.5);
  }
  33% {
    top: -24px;
    left: 0;
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(.5);
  }
  66% {
    top: 24px;
    left: 24px;
    -webkit-transform: scale(1);
  }
  83% {
    -webkit-transform: scale(.5);
  }
  100% {
    top: 24px;
    left: -24px;
    -webkit-transform: scale(1);
  }
}
